<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templete</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- header section     -->
<div id="header">
    <div class="container">
        <img src="https://images.unsplash.com/photo-1551150441-3f3828204ef0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxvZ298ZW58MHx8MHx8fDA%3D" alt="logoImage" class="logo">
    
    <div class="header-text">
        <h1>Lorem ipsum dolor <br>
             sit amet consectetur</h1>
             <span class="square"></span> 
             <p>adipisicing elit. Aliquid assumenda quidem enim culpa quasi fugiat reprehenderit suscipit dolor quod, sed, quae deleniti expedita eveniet alias tempora sit quia molestiae ut!</p>
             <button class="common-btn">Read More</button>


            </div> 
            </div>
</div>

<!-- side war -->

<div id="sidebar">
    <ul>
    <li><a href="#header">HOME</a></li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="#features">FEATURES</a></li>
    <li><a href="#courses">COURSES</a></li>
    <li><a href="#offers">OFFERS</a></li>
    <li><a href="#contact">CONTACT</a></li>
</ul>
</div>

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALoAAAC6CAMAAAAu0KfDAAAAXVBMVEX///8AAADd3d0nJyfl5eWEhIQeHh4jIyO2tra/v7/19fU/Pz+qqqrv7+/4+PgODg7W1tZ2dnZGRkaUlJTFxcWMjIxUVFRmZmY3NzfNzc2kpKSdnZ18fHwuLi5aWlqI+a8hAAAB6UlEQVR4nO3c65KCMAyGYVRcVEBBPCAe7v8yV3T2105S/iXR97mCb5hSStskywAAAAAAAAAAAMKq87kreT0xeFO1++LHkWLfVs2UJ96VM4fKLvnkc5fBR2WuJ59bB9TM1dFinU6njZnWOpyulZMfFtbhdIuDGP1onS3lKL6jJ+toKSfpTfU+XpQRs7JOlrYiugEp+sX/WL8I0fOHdbSUh7iOuVlHS1lKybN1YZ1NV6zF6NnZOpzuLCfPNr11Ok2/UaJnF8fZe2l6+cvudh1zSiR//m04XT4ep+wKbLvyvnDlvu+2E4K/0+euTM4NAAAAAAC+Ut0MS1eGZtqtkvl1Z73T9d/uql4QeNlWTjdM+yq1kXRz+MjfdrdEcuuAGjW78+NH6ejxqXZ7BemtlCeawTpbyiAl3zi/yTObtdJpUuN8vDxHjHRncG2dLE06OHU+v4w+8GZG4AET+DUNPDkG/iRFXgh4n2OU5VfkRW/kX43IP3iBf6tHYTczAAAAAADAt4paZuKwuKecVNwTt6QqbiFb3PLBwEWbcUtlAxcouz6OGYll4YGL8QO3QHB+9Dj6wJsZgaMHbm0TuKFQ4DZO7keM0jwrcMuyyI3iArfni9wUMXIryixwA9DXk4/adhUAAAAAAAAAAMChX1E1TS4PJ0+wAAAAAElFTkSuQmCC" alt="menu" id="menuBtn">



</body>
</html>