*{
    margin: 0;
    color: white;
}
#header{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.container{
    margin: 0 100px;
}
.logo{
    width: 100px;
    margin-top: 30px;
}
.header-text{
    max-width: 350px;
    margin-top: 150px;

}
.header-text h1{
    font-size: 34px;
}
.square{
    height: 15px;
    width: 15px;
    display:inline-block;
    background: black;
    margin: 15px 0;
}
.common-btn{
    padding: 10px 40px;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

#sidebar{
    width: 250px;
    height: 100vh;
    background-color:  rgb(67, 66, 66);
    position: fixed;
    top: 0;
    right:-250px;
}

#sidebar ul li{
    list-style: none;
    margin: 50px 20px;
}

#sidebar ul li a {
    text-decoration: none;
}
#menuBtn{
    width:50px;
    position: fixed;
    right: 70px;
    top: 30px;
    cursor: pointer;
}





























